#game { z-index: 0; user-select: none; }
#game.new { visibility: hidden; }

.winner .info-plate,
.winner .card .face {
    animation: winner-flash 0.5s infinite linear alternate;
}
@keyframes winner-flash {
    from { box-shadow: 0 0 0.25em 0.25em #4af; }
    to { box-shadow: 0 0 0.25em 0.5em #4af; }
}

.info-plate {
    position: absolute;
    transition:
        left 0.5s ease-in-out,
        top 0.5s ease-in-out;
}
.info-plate .content {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    background-color: #efe8e0;
    font-size: 0.8em;

    padding: 0.25em 0.75em;
    background-color: #d83;
    border: solid 0.25em #853;
    border-radius: 0.5em;
}
.info-plate.turn .content {
    background-color: #fff;
    border-color: #4af;
}
.info-plate .name, .info-plate .life {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
}
.info-plate .name {
    font-weight: 800;
}
.info-plate .life {
    font-family: FontAwesome;
    margin-top: 0.5em;
    letter-spacing: 0.1em;
    color: #a12;
}
.info-plate.turn .life {
    color: red;
}
.info-plate .life em {
    font-style: normal;
    color: #853;
}
.info-plate.turn .life em {
    color: #333;
}

.buttons {
    z-index: 5000;
}
#game input[type=button] {
    padding: 0.25em 0.75em;

    line-height: 2em;
    border-radius: 0.5em;

    text-transform: uppercase;
    font-weight: 800;

    background-color: #d83;
    border-color: #853;
    color: #853;
    transition: box-shadow 0.25s;

    margin: 0.5em;
    margin-right: 0;
}
#game input[type=button]:disabled {
    background-color: #999;
    border-color: #888;
    color: #888;
}
#game input[type=button].flash:not(:disabled) {
    animation: brown-flash 0.5s infinite linear alternate;
}
#game input[type=button]:active {
    background-color: #c9772d;
    border-color: #77482c;
    color: #77482c;
}

.card {
    position: absolute;
    width: 4.5em;
    height: 7.5em;
    border-radius: 0.5em;
    margin-left: -2.25em;
    margin-right: -2.25em;
    margin-top: -3.75em;
    margin-bottom: -3.75em;
    z-index: 0;

    transition:
        left 0.5s ease-in-out,
        top 0.5s ease-in-out,
        transform 0.5s ease-in-out,
        z-index 0s;

    transform-style: preserve-3d;
    transform-origin: center;
    perspective: 40em;
}
.card * {
    pointer-events: none;
}
.card.visible:not(.moving):hover,
.card.known:not(.moving):hover {
    transition:
        left 0.5s ease-in-out,
        top 0.5s ease-in-out,
        0.5s transform 0.5s ease-in-out,
        0.5s z-index 0s;

    transform: scale(1.0) rotateZ(0deg) !important;
    /* Yes it is absurdly large; there is a lot of z-index fudging in the code */
    z-index: 10000 !important;
}
.card.visible .face,
.card.known:hover .face {
    transform: rotateY(360deg);
}
.card.visible .back,
.card.known:hover .back {
    transform: rotateY(180deg);
}

.card .face,
.card .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.25em;
    border-radius: 0.5em;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
}
.card.actionable,
.card-pile .bottom.actionable {
    cursor: pointer;
}

.card.actionable.visible .face,
.card.actionable:not(.visible) .back {
    animation: brown-flash 0.5s infinite linear alternate;
}
.card.actionable.visible .face.blue {
    animation: blue-flash 0.5s infinite linear alternate;
}

@keyframes brown-flash {
    from { border-color: #853; }
    to { border-color: #4af; }
}
@keyframes blue-flash {
    from { border-color: #1B66C1; }
    to { border-color: #4af; }
}

.card .face, .card .back {
    border: solid 0.2em #853;
}

.card .face {
    transform: rotateY(180deg);
    background-color: #efe8e0;
}
.card .face.blue {
    border-color: #1B66C1;
}
.card .face.brown {
    border-color: #853;
}

.card .back {
    transform: rotateY(0deg);
    background-color: #d83;
}
.card:not(.character):not(.role) .back:after {
    content: "BANG!";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20em;
    margin-left: -10em;
    text-align: center;
    line-height: 0;
    transform: rotateZ(65deg);
    font-size: 1.4em;
    font-weight: 800;
    color: #853;
}

.card.role .back {
    background: linear-gradient(90deg, #b62, #d83, #b62, #d83, #b62);
}

.card.character .back div {
    width: 2.6em;
    height: 0.6em;
    background: linear-gradient(0deg, #c91, #ec1, #ec1, #fe8, #ec1, #c91);
    border: solid 0.1em #853;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    margin-left: 0.45em;
    margin-right: 0.45em;
    margin-top: 0.5em;
    transform-origin: center;
}
.card.character .back div:first-child {
    margin-top: 0.35em;
}
.card.character .back .bullet-1 { transform: rotateZ(4deg); }
.card.character .back .bullet-2 { transform: rotateZ(177deg); }
.card.character .back .bullet-3 { transform: rotateZ(-1deg); }
.card.character .back .bullet-4 { transform: rotateZ(185deg); }
.card.character .back .bullet-5 { transform: rotateZ(-3deg); }

.card .name, .card .image, .card .description {
    width: 100%;
}
.card .name {
    position: relative;
    width: 9.5em;
    line-height: 1em;
    left: 50%;
    margin-left: -4.75em;
    text-align: center;
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: 800;
    transform: scaleX(0.75);
}
.card .image {
    height: 3em;
    margin: 0.25em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image.deputy { background-image: url('/imgs/deputy.png'); }
.image.outlaw { background-image: url('/imgs/outlaw.png'); }
.image.renegade { background-image: url('/imgs/renegade.png'); }
.image.sheriff { background-image: url('/imgs/sheriff.png'); }

.image.bang { background-image: url('/imgs/bang.png'); }
.image.barile { background-image: url('/imgs/barile.png'); }
.image.beer { background-image: url('/imgs/beer.png'); }
.image.carabine { background-image: url('/imgs/carabine.png'); }
.image.catbalou { background-image: url('/imgs/catbalou.png'); }
.image.diligenza { background-image: url('/imgs/diligenza.png'); }
.image.duel { background-image: url('/imgs/duel.png'); }
.image.dynamite { background-image: url('/imgs/dynamite.png'); }
.image.emporio { background-image: url('/imgs/emporio.png'); }
.image.gatling { background-image: url('/imgs/gatling.png'); }
.image.indians { background-image: url('/imgs/indians.png'); }
.image.mancato { background-image: url('/imgs/mancato.png'); }
.image.mirino { background-image: url('/imgs/mirino.png'); }
.image.mustang { background-image: url('/imgs/mustang.png'); }
.image.panico { background-image: url('/imgs/panico.png'); }
.image.prigione { background-image: url('/imgs/prigione.png'); }
.image.remington { background-image: url('/imgs/remington.png'); }
.image.saloon { background-image: url('/imgs/saloon.png'); }
.image.schofield { background-image: url('/imgs/schofield.png'); }
.image.volcanic { background-image: url('/imgs/volcanic.svg'); }
.image.wellsfargo { background-image: url('/imgs/wellsfargo.png'); }
.image.winchester { background-image: url('/imgs/winchester.png'); }

.image.bart-cassidy { background-image: url('/imgs/bart-cassidy.png'); }
.image.black-jack { background-image: url('/imgs/black-jack.png'); }
.image.calamity-janet { background-image: url('/imgs/calamity-janet.png'); }
.image.el-gringo { background-image: url('/imgs/el-gringo.png'); }
.image.jesse-jones { background-image: url('/imgs/jesse-jones.png'); }
.image.jourdonnais { background-image: url('/imgs/jourdonnais.png'); }
.image.kit-carlson { background-image: url('/imgs/kit-carlson.png'); }
.image.lucky-duke { background-image: url('/imgs/lucky-duke.png'); }
.image.paul-regret { background-image: url('/imgs/paul-regret.png'); }
.image.pedro-ramirez { background-image: url('/imgs/pedro-ramirez.png'); }
.image.rose-doolan { background-image: url('/imgs/rose-doolan.png'); }
.image.sid-ketchum { background-image: url('/imgs/sid-ketchum.png'); }
.image.slab-the-killer { background-image: url('/imgs/slab-the-killer.png'); }
.image.suzy-lafayette { background-image: url('/imgs/suzy-lafayette.png'); }
.image.vulture-sam { background-image: url('/imgs/vulture-sam.png'); }
.image.willy-the-kid { background-image: url('/imgs/willy-the-kid.png'); }

.card .content {
    height: 7em;
    font-size: 0.4em;
    line-height: 1.2em;
    text-align: center;
}
.card .content .description {
    text-align: center;
}
.card .content .range,
.card .content .draw {
    display: inline-block;
    vertical-align: middle;
}
.card .content .range {
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 1.5em;
    border: solid 0.1em #333;
    border-radius: 100%;
    padding: 0.25em;
    margin: 0.25em;
    position: relative;
}
.card .content .range:before,
.card .content .range:after {
    content: "";
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.25;
}
.card .content .range:before {
    margin-left: -1em;
    margin-top: -0.5px;
    width: 2em;
    height: 1px;
}
.card .content .range:after {
    margin-left: -0.5px;
    margin-top: -1em;
    width: 1px;
    height: 2em;
}

.card .content .draw {
    font-size: 1.5em;
    padding: 0.25em;
    margin: 0.25em;
}
.card .content .draw:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 1.2em;
    height: 2em;
    background-color: #ccc;
    border-radius: 0.25em;
    border: solid 0.1em #999;
    margin-left: 0.25em;
}

.card .type {
    position: absolute;
    left: 0.15em;
    bottom: 0.15em;
}
.card .type .suit, .card .type .rank {
    display: inline-block;
    font-size: 0.5em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
}

.card .suit {
    width: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card .suit.spades { background-image: url("/imgs/spades.svg"); }
.card .suit.clovers { background-image: url("/imgs/clovers.svg"); }
.card .suit.hearts { background-image: url("/imgs/hearts.svg"); }
.card .suit.diamonds { background-image: url("/imgs/diamonds.svg"); }

.card .rank {
    text-align: center;
    color: #000;
}
.card .rank:after {
    font-weight: 800;
}
.card .rank.ace:after { content: "A"; }
.card .rank.two:after { content: "2"; }
.card .rank.three:after { content: "3"; }
.card .rank.four:after { content: "4"; }
.card .rank.five:after { content: "5"; }
.card .rank.six:after { content: "6"; }
.card .rank.seven:after { content: "7"; }
.card .rank.eight:after { content: "8"; }
.card .rank.nine:after { content: "9"; }
.card .rank.ten { letter-spacing: -0.05em; }
.card .rank.ten:after { content: "10"; }
.card .rank.jack:after { content: "J"; }
.card .rank.queen:after { content: "Q"; }
.card .rank.king:after { content: "K"; }

.card-pile .top {
    transition:
        left 0s ease-in-out,
        top 0s ease-in-out,
        transform 0.5s ease-in-out;
}
.card-pile .bottom, .card-pile .size {
    position: absolute;
    margin-left: -2.25em;
    margin-right: -2.25em;
    width: 4.5em;
    border-radius: 0.5em;
}
.card-pile .bottom {
    z-index: -1;
    bottom: 0;
    height: 7.5em;
    margin-top: -3.75em;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}
.card-pile .bottom.actionable {
    animation: bottom-flash 0.5s infinite linear alternate;
}
@keyframes bottom-flash {
    from { box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.3); }
    to { box-shadow: 0 0 0 0.25em #4af; }
}
.card-pile .size {
    /* The negative margin of cards -1 because of padding */
    margin-top: 2.75em;
    padding-top: 1em;
    background-color: #643;
}

.choice {
    z-index: 1;
}
.choice .card .face {
    box-shadow: 0.25em 0.75em 0 0 rgba(0, 0, 0, 0.3);
}

.event {
    width: 6em;
    margin: 0.5em;
    color: white;
    text-align: center;
    z-index: 5000;
    font-weight: 800;
    text-shadow: 0px 1px #000;
}
.event .player {
    line-height: 1.1em;
    word-wrap: break-word;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
.event .reason {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
.event .from:after {
    content: "on";
    display: block;
}
.event .type {
    height: 6em;
    padding: 0.25em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}
.event .type.draw {
    background-image: url("/imgs/draw.svg");
}
.event .type.choice {
    background-image: url("/imgs/choose.svg");
}
.event .type.target {
    background-image: url("/imgs/target.svg");
}

.no-transition {
    transition: none !important;
}