html, body {
    margin: 0;
    color: #333;
    font-family: sans-serif;
}

/* === [MISC] === */
.pass-through {
    pointer-events: none;
}
.clickable {
    pointer-events: all;
}

.hidden {
    display: none !important;
}
.absolute {
    position: absolute;
}

.line {
    width: 1px;
    height: 1px;
    background: #aaa;
}

.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

.margin {
    margin: 0.5rem;
}

.scroll {
  overflow: auto;
}

.root-bg {
    background: #aaa;
}

.box {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.box-inset {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5) inset;
}

/* === [FLEX] === */
.flex {
    display: flex;
}
.flex.left {
    justify-content: flex-start;
}
.flex.center {
    justify-content: flex-center;
}
.flex.right {
    justify-content: flex-end;
}
.flex .center {
    align-self: center;
}
.flex .bottom {
    align-self: flex-end;
}

.flex.vertical {
    flex-direction: column;
}
.flex.vertical-reverse {
    flex-direction: column-reverse;
}
.flex.vertical>.grow-1, .flex.vertical>.grow-2,
.flex.vertical-reverse>.grow-1, .flex.vertical-reverse>.grow-2 {
    height: 0;
}

.flex.horizontal {
    flex-direction: row;
}
.flex.horizontal-reverse {
    flex-direction: row-reverse;
}
.flex.horizontal>.grow-1,
.flex.horizontal>.grow-2,
.flex.horizontal-reverse>.grow-1,
.flex.horizontal-reverse>.grow-2 {
    width: 0;
}

.flex>.grow-1 {
    flex-grow: 1;
}
.flex>.grow-2 {
    flex-grow: 2;
}

/* === [FORM] === */
.form-box {
    width: 400px;
    margin: 1rem auto;
    border-left: solid 2px #ddd;
    border-right: solid 2px #ddd;
    border-bottom: solid 6px #ddd;
}
form {
    margin: 0;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
}
form .form-header {
    font-size: 1.2rem;
    text-align: center;
}
form .form-error {
    color: #f00;
}
form .form-group+.form-group {
    margin-top: 1rem;
}
form .form-group label {
    text-align: right;
    align-self: center;
}
form .form-group label:after {
    content: ":";
    margin: 0 0.25em;
}
input, textarea, input+.check {
    background: #eee;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #ddd;
    border-top-width: 3px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
}
input:focus,
input[type=submit]:hover,
input[type=button]:hover,
input[type=checkbox]:hover+.check,
input[type=checkbox]:focus+.check {
    outline: none;
    background: #ddd;
    border-color: #bbb;
}
input:focus,
input[type=checkbox]:focus+.check {
    box-shadow: 0 0 0 1px #08f;
}
input[type=submit],
input[type=button] {
    cursor: pointer;
    border-top-width: 0;
    border-bottom-width: 3px;
}
input[type=submit]:active,
input[type=button]:active {
    background: #ccc;
    border-color: #bbb;
}
input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
input[type=checkbox]+.check {
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    padding: 0;
    width: 1.5rem;
    line-height: 1.5rem;
}
input[type=checkbox]+.check:after {
    display: none;
}
input[type=checkbox]:checked+.check {
    color: rgba(0, 0, 0, 1);
}
textarea {
    resize: none;
}

/* === [LOBBY] === */
#lobby {
    width: 20rem;
    font-size: 0.8rem;
}
#lobby .title {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
#lobby .list {
    overflow: auto;
    background: #eee;
    border: none;
    border-top: solid 3px #ddd;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    padding: 0.25rem 0;
}
#lobby .list div {
    padding: 0.25rem 0.5rem;
}
#lobby .list .alive {
    color: #1e3;
    text-shadow: 0 1px #088020;
}
#lobby .list .dead {
    color: #e31;
    text-shadow: 0 1px #802008;
}
#lobby .list em {
    font-style: normal;
    font-weight: 600;
}
#lobby .list em::before {
    content: "[";
}
#lobby .list em::after {
    content: "]";
}

/* === [LOADER] === */
#loader .element {
    position: relative;
    margin: auto;
    border-radius: 100%;
    animation: loader-rotate 6s infinite linear;
}
#loader .pivot, .barrel, .background-highlight {
    animation: loader-rotate-inverse 6s infinite linear;
}
@keyframes loader-rotate {
  0%{
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(90deg);
  }
  17%{
    transform: rotate(90deg);
  }
  20% {
    transform: rotate(150deg);
  }
  33%{
    transform: rotate(150deg);
  }
  36% {
    transform: rotate(210deg);
  }
  50%{
    transform: rotate(210deg);
  }
  53% {
    transform: rotate(270deg);
  }
  67%{
    transform: rotate(270deg);
  }
  70% {
    transform: rotate(330deg);
  }
  83%{
    transform: rotate(330deg);
  }
  86% {
    transform: rotate(390deg);
  }
  100%{
    transform: rotate(390deg);
  }
}
@keyframes loader-rotate-inverse {
  0%{
    transform: rotate(360deg);
  }
  3% {
    transform: rotate(300deg);
  }
  17%{
    transform: rotate(300deg);
  }
  20% {
    transform: rotate(240deg);
  }
  33%{
    transform: rotate(240deg);
  }
  36% {
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(180deg);
  }
  53% {
    transform: rotate(120deg);
  }
  67%{
    transform: rotate(120deg);
  }
  70% {
    transform: rotate(60deg);
  }
  83%{
    transform: rotate(60deg);
  }
  86% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
#loader .background {
    position: absolute;
    background: #778;
    width: 9.1rem;
    height: 9.1rem;
    margin-left: -4.55rem;
    margin-top: -4.55rem;
    border-radius: 100%;
}
#loader .background-highlight {
    position: absolute;
    background: #778;
    width: 9.5rem;
    height: 9.5rem;
    margin-left: -4.75rem;
    margin-top: -4.75rem;
    border-radius: 100%;
    box-shadow:
        -0.125rem 0.125rem 0rem 0.125rem #bbc inset,
        0 0 0 0.25rem #556 inset,
        0 0 4rem 2rem rgba(0, 0, 0, 0.5);
}
#loader .pivot {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.6rem;
    margin-top: -1.6rem;
    width: 3.2rem;
    height: 3.2rem;
    background: #a75;
    border-radius: 100%;
    box-shadow:
        0 0 0 0.125em #556 inset,
        0.125rem -0.125rem 0rem 0.125rem #632 inset,
        -0.125rem 0.125rem 0rem 0.125rem #dba inset;
}
#loader .barrel {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: -1.1rem;
    margin-top: -1.1rem;
    background: #001;
    border-radius: 100%;
    box-shadow:
        0.1rem -0.1rem 0 0.1rem #bbc inset,
        0 0 0 0.2rem #556 inset;
}
#loader .pos-1 {
    top: 0rem;
    left: 3rem;
}
#loader .pos-2 {
    top: 2.60rem;
    left: 1.5rem;
}
#loader .pos-3 {
    top: 2.60rem;
    left: -1.5rem;
}
#loader .pos-4 {
    top: 0rem;
    left: -3rem;
}
#loader .pos-5 {
    top: -2.60rem;
    left: -1.5rem;
}
#loader .pos-6 {
    top: -2.60rem;
    left: 1.5rem;
}