body {
    margin: 0;
    color: #333;
    font-family: sans-serif;
    line-height: 1em;
    background-color: #2E4859;
}

a {
    color: #26f;
    text-decoration: none
}
a:focus, a:hover {
    outline: none;
    text-decoration: underline;
}

/* === [MISC] === */

.hidden {
    display: none !important;
}
.absolute {
    position: absolute;
}
.absolute.left {
    left: 0;
}
.absolute.right {
    right: 0;
}
.absolute.top {
    top: 0;
}
.absolute.bottom {
    bottom: 0;
}

.relative {
    position: relative;
}

.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

.scroll {
  overflow: auto;
}
.no-scroll {
    overflow: hidden;
}

.box {
    background: #f8fdff;
    box-shadow: 0 0.25em 0.5em 0.125em rgba(0, 0, 0, 0.25);
}

.title {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

/* === [INTRO] === */
.intro {
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 2em;
}
.intro .top {
    font-size: 1.2em;
    font-weight: 800;
}
.intro .name {
    color: #f00;
    text-transform: uppercase;
}
.intro a {
    display: inline-block;
    margin: 0em 0.1em;
}

/* === [LIST] === */
.list {
    overflow: auto;
    background: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    font-size: 0.8em;
}
.list+.list {
    border-top: none;
}
.list div {
    padding: 0.25rem 0.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.list em {
    font-style: normal;
    font-weight: 600;
    text-overflow: ellipsis;
}
.list em::before {
    color: #aaa;
    content: "[";
}
.list em::after {
    color: #aaa;
    content: "] ";
}
.list img {
    vertical-align: middle;
    max-width: 100%;
}
.list .error {
    color: #f00;
}
/* === [FLEX] === */
.flex {
    display: flex;
}
.flex.left {
    justify-content: flex-start;
}
.flex.center {
    justify-content: center;
}
.flex.right {
    justify-content: flex-end;
}
.flex>.center {
    align-self: center;
}
.flex>.bottom {
    align-self: flex-end;
}

.flex.vertical {
    flex-direction: column;
}
.flex.vertical-reverse {
    flex-direction: column-reverse;
}
.flex.vertical>.grow-1,
.flex.vertical>.grow-2,
.flex.vertical-reverse>.grow-1,
.flex.vertical-reverse>.grow-2 {
    height: 0;
}

.flex.horizontal {
    flex-direction: row;
}
.flex.horizontal-reverse {
    flex-direction: row-reverse;
}
.flex.horizontal>.grow-1,
.flex.horizontal>.grow-2,
.flex.horizontal-reverse>.grow-1,
.flex.horizontal-reverse>.grow-2 {
    width: 0;
}

.flex>.grow-1 {
    flex-grow: 1;
}
.flex>.grow-2 {
    flex-grow: 2;
}

/* === [FORM] === */
.form-box {
    width: 22rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 400px) {
    .form-box {
        box-sizing: border-box;
        width: auto;
        margin: 1rem;
    }
}
form {
    margin: 0;
    padding: 1rem;
}
.form-header {
    font-size: 1.2rem;
    text-align: center;
}
.form-error {
    color: #f00;
    white-space: pre-wrap;
}
.form-group+.form-group {
    margin-top: 1rem;
}
.form-group.list {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.form-group.list:last-child {
    border-bottom: none;
    margin-bottom: -1rem;
}
.form-group label {
    text-align: right;
    align-self: center;
}
.form-group label:after {
    content: ":";
    margin: 0 0.25em;
}
label[for] {
    cursor: pointer;
}
input, textarea, input+.check, button {
    color: #333;
    background: rgba(0, 0, 0, 0.05);
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.20);
    border-top-width: 2px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}
input+.check { border-radius: 100% }
input:focus,
input[type=submit]:hover,
input[type=button]:hover,
input:hover+.check,
input:focus+.check,
button:hover,
button:focus,
button:focus+.check {
    outline: none;
    background: rgba(0, 0, 0, 0.10);
    border-color: rgba(0, 0, 0, 0.30);
}
input:focus,
button:focus,
input:focus+.check {
    border-color: #26f;
}
input:disabled,
button:focus {
    cursor: default;
}
input:not(:disabled)[type=submit],
input:not(:disabled)[type=button],
button:not(:disabled),
input:not(:disabled)+.check {
    cursor: pointer;
}
input[type=submit],
input[type=button],
button,
input+.check {
    border-top-width: 1px;
    border-bottom-width: 2px;
}
input[type=submit] {
    font-weight: 800;
}
input[type=submit]:active,
input[type=button]:active,
input:active+.check,
button:active,
button:active+.check {
    background: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.20);
    border-top-width: 2px;
    border-bottom-width: 1px;
}
input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
input+.check, button+.check {
    color: rgba(0, 0, 0, 0.2);

    text-align: center;
    padding: 0;
    width: 1.5em;
    line-height: 1.5em;
}
input:checked+.check {
    color: rgba(0, 0, 0, 1);
    background: rgba(120, 240, 10, 1);
}
input:checked:hover+.check {
    background: rgba(110, 220, 5, 1);
}
/* Bug fix linked to font-awesome icons having an unwanted space afterwards */
button+.fa:after, input+.fa:after, button label:after {
    display: none;
}
.ico-after {
    padding-right: 1.75rem; /*add 1 em for the ico*/
}
.ico-after+.fa {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin-left: -1.75rem; /*cancel right pad + the icon itself*/
    text-align: left;
}
textarea {
    resize: none;
}

/* === [EXTRA; LOBBY & MENU] === */
#extra-show, #extra-show+.check { display: none; }
#extra-show+.check {
    border: none;
    background: none;
    color: #08f;
    font-size: 1.5em;
}
#extra-show+.check:hover,
#extra-show:focus+.check {
    text-shadow: 0 2px #333;
}
#extra-show+.check:before { content: "\f177"; }
#extra-show:checked+.check:before { content: "\f178"; }
@media only screen and (max-width: 900px) {
    #extra {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: none;
    }
    #extra-show, #extra-show+.check { display: initial; }
    #extra-show:checked, #extra-show:checked+.check { right: 14rem; }
    #extra-show:checked+.check+#extra { display: initial; }
}
#extra {
    width: 20%;
    min-width: 14rem;
    background-color: #f8fdff;
}
#extra .list {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
#extra form {
    padding: 0;
}
#extra form input, #menu-btn+.check {
    border-radius: 0;
    border-width: 0;
}
#menu-btn+.check {
    padding: 0.25rem;
    z-index: 1;
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2) inset;
}
#menu-btn:focus+.check {
    box-shadow: 0 0 0 1px #08f inset;
}
#menu-btn:not(:checked)+.check+div+div,
#menu-btn:checked+.check+div {
    display: none;
}

/* === [LOADER] === */
#loader .element {
    position: relative;
    margin: auto;
    border-radius: 100%;
    animation: loader-rotate 6s infinite linear;
}
#loader .pivot, .barrel, .background-highlight {
    animation: loader-rotate-inverse 6s infinite linear;
}
@keyframes loader-rotate {
    0% { transform: rotate(30deg); }
    3% { transform: rotate(90deg); }
    17% { transform: rotate(90deg); }
    20% { transform: rotate(150deg); }
    33% { transform: rotate(150deg); }
    36% { transform: rotate(210deg); }
    50% { transform: rotate(210deg); }
    53% { transform: rotate(270deg); }
    67% { transform: rotate(270deg); }
    70% { transform: rotate(330deg); }
    83% { transform: rotate(330deg); }
    86% { transform: rotate(390deg); }
    100% { transform: rotate(390deg); }
}
@keyframes loader-rotate-inverse {
    0% { transform: rotate(360deg); }
    3% { transform: rotate(300deg); }
    17% { transform: rotate(300deg); }
    20% { transform: rotate(240deg); }
    33% { transform: rotate(240deg); }
    36% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    53% { transform: rotate(120deg); }
    67% { transform: rotate(120deg); }
    70% { transform: rotate(60deg); }
    83% { transform: rotate(60deg); }
    86% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
#loader .background {
    position: absolute;
    background: #778;
    width: 9.1rem;
    height: 9.1rem;
    margin-left: -4.55rem;
    margin-top: -4.55rem;
    border-radius: 100%;
}
#loader .background-highlight {
    position: absolute;
    background: #778;
    width: 9.5rem;
    height: 9.5rem;
    margin-left: -4.75rem;
    margin-top: -4.75rem;
    border-radius: 100%;
    box-shadow:
        -0.125rem 0.125rem 0rem 0.125rem #bbc inset,
        0 0 0 0.25rem #556 inset,
        0 0 4rem 2rem rgba(0, 0, 0, 0.5);
}
#loader .pivot {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.6rem;
    margin-top: -1.6rem;
    width: 3.2rem;
    height: 3.2rem;
    background: #a75;
    border-radius: 100%;
    box-shadow:
        0 0 0 0.125em #556 inset,
        0.125rem -0.125rem 0rem 0.125rem #632 inset,
        -0.125rem 0.125rem 0rem 0.125rem #dba inset;
}
#loader .barrel {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: -1.1rem;
    margin-top: -1.1rem;
    background: #001;
    border-radius: 100%;
    box-shadow:
        0.1rem -0.1rem 0 0.1rem #bbc inset,
        0 0 0 0.2rem #556 inset;
}
#loader .pos-1 {
    top: 0rem;
    left: 3rem;
}
#loader .pos-2 {
    top: 2.60rem;
    left: 1.5rem;
}
#loader .pos-3 {
    top: 2.60rem;
    left: -1.5rem;
}
#loader .pos-4 {
    top: 0rem;
    left: -3rem;
}
#loader .pos-5 {
    top: -2.60rem;
    left: -1.5rem;
}
#loader .pos-6 {
    top: -2.60rem;
    left: 1.5rem;
}