html, body {
    margin: 0;
    color: #333;
    font-family: sans-serif;
    line-height: 1em;
}

a {
    color: #08f;
}

/* === [MISC] === */
.pass-through {
    pointer-events: none;
}
.clickable {
    pointer-events: all;
}

.hidden {
    display: none !important;
}
.absolute {
    position: absolute;
}
.absolute.left {
    left: 0;
}
.absolute.right {
    right: 0;
}
.absolute.top {
    top: 0;
}
.absolute.bottom {
    bottom: 0;
}

.relative {
    position: relative;
}

.line {
    width: 1px;
    height: 1px;
    background: #aaa;
}

.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

.margin {
    margin: 0.5rem;
}

.scroll {
  overflow: auto;
}
.no-scroll {
    overflow: hidden;
}

.root-bg {
    background: #aaa;
}

.box {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.box-inset {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5) inset;
}

.title {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #fff;
}

.action {
    padding: 0.5em;
}
.action:focus {
    color: #fff;
    background-color: #08f;
    outline: none;
}

/* === [INTRO] === */
.intro {
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.intro .top {
    font-size: 1.2em;
    font-weight: 800;
}
.intro .name {
    text-transform: uppercase;
    color: #f00;
}
.intro a {
    display: inline-block;
    margin: 0em 0.1em;
}

/* === [TREE] === */
.tree-root {
    font-size: 90%;
}
.tree-root ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.05);
}
.tree-root li:first-child {
    margin-top: 0;
}
.tree-root ul ul {
    padding-left: 1em;
    padding-bottom: 1em;
}

/* === [LIST] === */
.list {
    overflow: auto;
    background: rgba(0, 0, 0, 0.05);
    border: none;
    border-bottom: solid 1px #ddd;
    border-top: solid 3px #ddd;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    padding: 0.25rem 0;
}
.list div {
    padding: 0.25rem 0.5rem;
}
.list .alive {
    color: #1e3;
    text-shadow: 0 1px #088020;
}
.list .dead {
    color: #e31;
    text-shadow: 0 1px #802008;
}
.list em {
    font-style: normal;
    font-weight: 600;
}
.list em::before {
    content: "[";
}
.list em::after {
    content: "]";
}
/* === [FLEX] === */
.flex {
    display: flex;
}
.flex.left {
    justify-content: flex-start;
}
.flex.center {
    justify-content: flex-center;
}
.flex.right {
    justify-content: flex-end;
}
.flex>.center {
    align-self: center;
}
.flex>.bottom {
    align-self: flex-end;
}

.flex.vertical {
    flex-direction: column;
}
.flex.vertical-reverse {
    flex-direction: column-reverse;
}
.flex.vertical>.grow-1,
.flex.vertical>.grow-2,
.flex.vertical-reverse>.grow-1,
.flex.vertical-reverse>.grow-2 {
    height: 0;
}

.flex.horizontal {
    flex-direction: row;
}
.flex.horizontal-reverse {
    flex-direction: row-reverse;
}
.flex.horizontal>.grow-1,
.flex.horizontal>.grow-2,
.flex.horizontal-reverse>.grow-1,
.flex.horizontal-reverse>.grow-2 {
    width: 0;
}

.flex>.grow-1 {
    flex-grow: 1;
}
.flex>.grow-2 {
    flex-grow: 2;
}

/* === [FORM] === */
.form-box {
    width: 400px;
    margin: 1rem auto;
    border-top: solid 2px rgba(0, 0, 0, 0.1);
    border-left: solid 2px rgba(0, 0, 0, 0.1);
    border-right: solid 2px rgba(0, 0, 0, 0.1);
    border-bottom: solid 6px rgba(0, 0, 0, 0.1);
}
form {
    margin: 0;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
}
form .form-header {
    font-size: 1.2rem;
    text-align: center;
}
form .form-error {
    color: #f00;
    white-space: pre;
}
form .form-group+.form-group {
    margin-top: 1rem;
}
form .form-group label {
    text-align: right;
    align-self: center;
}
form .form-group label:after {
    content: ":";
    margin: 0 0.25em;
}
form .form-group label[for] {
    cursor: pointer;
}
input, textarea, input+.check {
    background: rgba(0, 0, 0, 0.05);
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.10);
    border-top-width: 3px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}
input:focus,
input[type=submit]:hover,
input[type=button]:hover,
input[type=checkbox]:hover+.check,
input[type=checkbox]:focus+.check {
    outline: none;
    background: rgba(0, 0, 0, 0.10);
    border-color: rgba(0, 0, 0, 0.20);
}
input:focus,
input[type=checkbox]:focus+.check {
    border-color: #08f;
}
input:disabled {
    cursor: default;
}
input:not(:disabled)[type=submit],
input:not(:disabled)[type=button],
input:not(:disabled)+.check {
    cursor: pointer;
}
input[type=submit],
input[type=button],
input+.check {
    border-top-width: 1px;
    border-bottom-width: 3px;
}
input[type=submit]:active,
input[type=button]:active,
input[type=checkbox]:active+.check {
    background: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.20);
}
input[type=submit].active,
input[type=button].active,
input[type=submit]:active,
input[type=button]:active,
input[type=checkbox]:checked+.check {
    border-top-width: 3px;
    border-bottom-width: 1px;
}
input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
input[type=checkbox]+.check {
    color: rgba(0, 0, 0, 0.1);

    text-align: center;
    padding: 0;
    width: 1.5em;
    line-height: 1.5em;
}
input[type=checkbox]:checked+.check {
    color: rgba(0, 0, 0, 1);
    background: rgba(120, 240, 10, 1);
}
input[type=checkbox]:checked:hover+.check {
    background: rgba(110, 220, 5, 1);
}
/* Bug fix linked to font-awesome icons having an unwanted space afterwards */
input[type=checkbox]+.fa:after {
    display: none;
}
textarea {
    resize: none;
}

/* === [LOBBY] === */
#lobby {
    width: 18%;
    min-width: 11.5rem;
    font-size: 0.8rem;
}

/* === [LOADER] === */
#loader .element {
    position: relative;
    margin: auto;
    border-radius: 100%;
    animation: loader-rotate 6s infinite linear;
}
#loader .pivot, .barrel, .background-highlight {
    animation: loader-rotate-inverse 6s infinite linear;
}
@keyframes loader-rotate {
    0% { transform: rotate(30deg); }
    3% { transform: rotate(90deg); }
    17% { transform: rotate(90deg); }
    20% { transform: rotate(150deg); }
    33% { transform: rotate(150deg); }
    36% { transform: rotate(210deg); }
    50% { transform: rotate(210deg); }
    53% { transform: rotate(270deg); }
    67% { transform: rotate(270deg); }
    70% { transform: rotate(330deg); }
    83% { transform: rotate(330deg); }
    86% { transform: rotate(390deg); }
    100% { transform: rotate(390deg); }
}
@keyframes loader-rotate-inverse {
    0% { transform: rotate(360deg); }
    3% { transform: rotate(300deg); }
    17% { transform: rotate(300deg); }
    20% { transform: rotate(240deg); }
    33% { transform: rotate(240deg); }
    36% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    53% { transform: rotate(120deg); }
    67% { transform: rotate(120deg); }
    70% { transform: rotate(60deg); }
    83% { transform: rotate(60deg); }
    86% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
#loader .background {
    position: absolute;
    background: #778;
    width: 9.1rem;
    height: 9.1rem;
    margin-left: -4.55rem;
    margin-top: -4.55rem;
    border-radius: 100%;
}
#loader .background-highlight {
    position: absolute;
    background: #778;
    width: 9.5rem;
    height: 9.5rem;
    margin-left: -4.75rem;
    margin-top: -4.75rem;
    border-radius: 100%;
    box-shadow:
        -0.125rem 0.125rem 0rem 0.125rem #bbc inset,
        0 0 0 0.25rem #556 inset,
        0 0 4rem 2rem rgba(0, 0, 0, 0.5);
}
#loader .pivot {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.6rem;
    margin-top: -1.6rem;
    width: 3.2rem;
    height: 3.2rem;
    background: #a75;
    border-radius: 100%;
    box-shadow:
        0 0 0 0.125em #556 inset,
        0.125rem -0.125rem 0rem 0.125rem #632 inset,
        -0.125rem 0.125rem 0rem 0.125rem #dba inset;
}
#loader .barrel {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: -1.1rem;
    margin-top: -1.1rem;
    background: #001;
    border-radius: 100%;
    box-shadow:
        0.1rem -0.1rem 0 0.1rem #bbc inset,
        0 0 0 0.2rem #556 inset;
}
#loader .pos-1 {
    top: 0rem;
    left: 3rem;
}
#loader .pos-2 {
    top: 2.60rem;
    left: 1.5rem;
}
#loader .pos-3 {
    top: 2.60rem;
    left: -1.5rem;
}
#loader .pos-4 {
    top: 0rem;
    left: -3rem;
}
#loader .pos-5 {
    top: -2.60rem;
    left: -1.5rem;
}
#loader .pos-6 {
    top: -2.60rem;
    left: 1.5rem;
}

/* === [MENU] === */
#menu {
    overflow: hidden;
}
#menu-btn+.check {
    margin: 0.125rem 0.5rem;
    z-index: 1;
}
#menu .container {
    width: 18%;
    min-width: 11.5rem;
    font-size: 0.8rem;
    background: #fff;
    visibility: hidden;
}
#menu #menu-btn:checked+.check+.container {
    visibility: visible;
}

/* === [CARDS] === */
#game {
    background-color: #2E4859;
}
#game .container {
    width: 100%;
    height: 100%;
    min-width: 40em;
    min-height: 40em;
}

.info-plate {
    background-color: #efe8e0;
    font-size: 0.8em;

    margin-top: -1.75em;
    padding: 0.25em 0.75em;
    position: absolute;
    transition:
        left 0.5s ease-in-out,
        top 0.5s ease-in-out;
    border: solid 0.25em #853;
    border-radius: 0.5em;
}
.info-plate.turn {
    border-color: #4af;
}
.info-plate .name, .info-plate .life {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
}
.info-plate .name {
    font-weight: 800;
}
.info-plate .life {
    font-family: FontAwesome;
    margin-top: 0.5em;
    letter-spacing: 0.1em;
    color: red;
}

input.cancel-btn {
    left: 0;
    bottom: 0;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    z-index: 5000;

    line-height: 2em;
    position: absolute;
    padding: 0.25em 0.75em;
    border-radius: 0.5em;

    text-transform: uppercase;
    font-weight: 800;

    background-color: #d83;
    border-color: #853;
    color: #853;
    transition: box-shadow 0.25s;
}
input.cancel-btn:disabled {
    background-color: #aaa;
    border-color: #888;
    color: #888;
}
input.cancel-btn:not(:disabled) {
    animation: brown-flash 0.5s infinite linear alternate;
}
input.cancel-btn:not(:disabled):hover {
    background-color: #d83;
    border-color: #853;
}
input.cancel-btn:active {
    background-color: #c9772d;
    border-color: #77482c;
    color: #77482c;
}

.card {
    position: absolute;
    width: 4.5em;
    height: 7.5em;
    border-radius: 0.5em;
    margin-left: -2.25em;
    margin-right: -2.25em;
    margin-top: -3.75em;
    margin-bottom: -3.75em;
    z-index: 0;

    transition:
        left 0.5s ease-in-out,
        top 0.5s ease-in-out,
        transform 0.5s ease-in-out,
        z-index 0s;

    transform-style: preserve-3d;
    transform-origin: center;
    perspective: 40em;
}
.card * {
    pointer-events: none;
}
.card.visible:not(.moving):hover,
.card.known:not(.moving):hover {
    transition:
        left 0.5s ease-in-out,
        top 0.5s ease-in-out,
        0.5s transform 0.5s ease-in-out,
        0.5s z-index 0s;

    transform: scale(1.0) rotateZ(0deg) !important;
    /* Yes it is absurdly large; there is a lot of z-index fudging in the code */
    z-index: 10000 !important;
}
.card.visible .face,
.card.known:hover .face {
    transform: rotateY(360deg);
}
.card.visible .back,
.card.known:hover .back {
    transform: rotateY(180deg);
}

.card .face,
.card .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.25em;
    border-radius: 0.5em;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
}
.card.actionable,
.card-pile .bottom.actionable {
    cursor: pointer;
}

.card.actionable.visible .face,
.card.actionable:not(.visible) .back {
    animation: brown-flash 0.5s infinite linear alternate;
}
.card.actionable.visible .face.blue {
    animation: blue-flash 0.5s infinite linear alternate;
}

@keyframes brown-flash {
    from { border-color: #853; }
    to { border-color: #4af; }
}
@keyframes blue-flash {
    from { border-color: #1B66C1; }
    to { border-color: #4af; }
}

.card .face, .card .back {
    border: solid 0.2em #853;
}

.card .face {
    transform: rotateY(180deg);
    background-color: #efe8e0;
}
.card .face.blue {
    border-color: #1B66C1;
}
.card .face.brown {
    border-color: #853;
}

.card .back {
    transform: rotateY(0deg);
    background-color: #d83;
}
.card:not(.character):not(.role) .back:after {
    content: "BANG!";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20em;
    margin-left: -10em;
    text-align: center;
    line-height: 0;
    transform: rotateZ(65deg);
    font-size: 1.4em;
    font-weight: 800;
    color: #853;
}

.card.role .back {
    background: linear-gradient(90deg, #b62, #d83, #b62, #d83, #b62);
}

.card.character .back div {
    width: 2.6em;
    height: 0.6em;
    background: linear-gradient(0deg, #c91, #ec1, #ec1, #fe8, #ec1, #c91);
    border: solid 0.1em #853;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    margin-left: 0.45em;
    margin-right: 0.45em;
    margin-top: 0.5em;
    transform-origin: center;
}
.card.character .back div:first-child {
    margin-top: 0.35em;
}
.card.character .back .bullet-1 { transform: rotateZ(4deg); }
.card.character .back .bullet-2 { transform: rotateZ(177deg); }
.card.character .back .bullet-3 { transform: rotateZ(-1deg); }
.card.character .back .bullet-4 { transform: rotateZ(185deg); }
.card.character .back .bullet-5 { transform: rotateZ(-3deg); }

.card .name, .card .image, .card .description {
    width: 100%;
}
.card .name {
    position: relative;
    width: 12em;
    height: 10%;
    left: 50%;
    margin-left: -6em;
    text-align: center;
    font-size: 0.5em;
    text-transform: uppercase;
    font-weight: 800;
    transform: scaleX(0.75);
}
.card .image {
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image.deputy { background-image: url('/imgs/deputy.png'); }
.image.outlaw { background-image: url('/imgs/outlaw.png'); }
.image.renegade { background-image: url('/imgs/renegade.png'); }
.image.sheriff { background-image: url('/imgs/sheriff.png'); }

.image.bang { background-image: url('/imgs/bang.png'); }
.image.barile { background-image: url('/imgs/barile.png'); }
.image.beer { background-image: url('/imgs/beer.png'); }
.image.carabine { background-image: url('/imgs/carabine.png'); }
.image.catbalou { background-image: url('/imgs/catbalou.png'); }
.image.diligenza { background-image: url('/imgs/diligenza.png'); }
.image.duel { background-image: url('/imgs/duel.png'); }
.image.dynamite { background-image: url('/imgs/dynamite.png'); }
.image.emporio { background-image: url('/imgs/emporio.png'); }
.image.gatling { background-image: url('/imgs/gatling.png'); }
.image.indians { background-image: url('/imgs/indians.png'); }
.image.mancato { background-image: url('/imgs/mancato.png'); }
.image.mirino { background-image: url('/imgs/mirino.png'); }
.image.mustang { background-image: url('/imgs/mustang.png'); }
.image.panico { background-image: url('/imgs/panico.png'); }
.image.prigione { background-image: url('/imgs/prigione.png'); }
.image.remington { background-image: url('/imgs/remington.png'); }
.image.saloon { background-image: url('/imgs/saloon.png'); }
.image.schofield { background-image: url('/imgs/schofield.png'); }
.image.volcanic { background-image: url('/imgs/volcanic.svg'); }
.image.wellsfargo { background-image: url('/imgs/wellsfargo.png'); }
.image.winchester { background-image: url('/imgs/winchester.png'); }

.image.bart-cassidy { background-image: url('/imgs/bart-cassidy.png'); }
.image.black-jack { background-image: url('/imgs/black-jack.png'); }
.image.calamity-janet { background-image: url('/imgs/calamity-janet.png'); }
.image.el-gringo { background-image: url('/imgs/el-gringo.png'); }
.image.jesse-jones { background-image: url('/imgs/jesse-jones.png'); }
.image.jourdonnais { background-image: url('/imgs/jourdonnais.png'); }
.image.kit-carlson { background-image: url('/imgs/kit-carlson.png'); }
.image.lucky-duke { background-image: url('/imgs/lucky-duke.png'); }
.image.paul-regret { background-image: url('/imgs/paul-regret.png'); }
.image.pedro-ramirez { background-image: url('/imgs/pedro-ramirez.png'); }
.image.rose-doolan { background-image: url('/imgs/rose-doolan.png'); }
.image.sid-ketchum { background-image: url('/imgs/sid-ketchum.png'); }
.image.slab-the-killer { background-image: url('/imgs/slab-the-killer.png'); }
.image.suzy-lafayette { background-image: url('/imgs/suzy-lafayette.png'); }
.image.vulture-sam { background-image: url('/imgs/vulture-sam.png'); }
.image.willy-the-kid { background-image: url('/imgs/willy-the-kid.png'); }

.card .content {
    height: 45%;
    font-size: 0.4em;
    line-height: 1.2em;
    text-align: center;
}
.card .content .description {
    text-align: left;
}
.card .content .range,
.card .content .draw {
    display: inline-block;
    vertical-align: middle;
}
.card .content .range {
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 1.5em;
    border: solid 0.1em #333;
    border-radius: 100%;
    padding: 0.25em;
    margin: 0.25em;
    position: relative;
}
.card .content .range:before,
.card .content .range:after {
    content: "";
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.25;
}
.card .content .range:before {
    margin-left: -1em;
    margin-top: -0.5px;
    width: 2em;
    height: 1px;
}
.card .content .range:after {
    margin-left: -0.5px;
    margin-top: -1em;
    width: 1px;
    height: 2em;
}

.card .content .draw {
    padding: 0.25em;
    margin: 0.25em;
}
.card .content .draw:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 1.2em;
    height: 2em;
    background-color: #ccc;
    border-radius: 0.25em;
    border: solid 0.1em #999;
    margin-left: 0.25em;
}

.card .type {
    position: absolute;
    left: 0.1em;
    bottom: 0.1em;
}
.card .type .suit, .card .type .rank {
    display: inline-block;
    height: 0.5em;
    line-height: 0.5em;
    vertical-align: middle;
}

.card .suit {
    width: 0.5em;
    height: 0.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card .suit.spades { background-image: url("/imgs/spades.svg"); }
.card .suit.clovers { background-image: url("/imgs/clovers.svg"); }
.card .suit.hearts { background-image: url("/imgs/hearts.svg"); }
.card .suit.diamonds { background-image: url("/imgs/diamonds.svg"); }

.card .rank {
    text-align: center;
    color: #000;
}
.card .rank:after {
    font-size: 0.5em;
    font-weight: 800;
}
.card .rank.ace:after { content: "A"; }
.card .rank.two:after { content: "2"; }
.card .rank.three:after { content: "3"; }
.card .rank.four:after { content: "4"; }
.card .rank.five:after { content: "5"; }
.card .rank.six:after { content: "6"; }
.card .rank.seven:after { content: "7"; }
.card .rank.eight:after { content: "8"; }
.card .rank.nine:after { content: "9"; }
.card .rank.ten { letter-spacing: -0.05em; }
.card .rank.ten:after { content: "10"; }
.card .rank.jack:after { content: "J"; }
.card .rank.queen:after { content: "Q"; }
.card .rank.king:after { content: "K"; }

.card-pile .top {
    transition:
        left 0s ease-in-out,
        top 0s ease-in-out,
        transform 0.5s ease-in-out;
}
.card-pile .bottom, .card-pile .size {
    position: absolute;
    margin-left: -2.25em;
    margin-right: -2.25em;
    width: 4.5em;
    border-radius: 0.5em;
}
.card-pile .bottom {
    z-index: -1;
    bottom: 0;
    height: 7.5em;
    margin-top: -3.75em;
    box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.3);
}
.card-pile .bottom.actionable {
    animation: bottom-flash 0.5s infinite linear alternate;
}
@keyframes bottom-flash {
    from { box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.3); }
    to { box-shadow: 0 0 0 0.25em #4af; }
}
.card-pile .size {
    /* The negative margin of cards -1 because of padding */
    margin-top: 2.75em;
    padding-top: 1em;
    background-color: #643;
}

.choice {
    z-index: 1;
}
.choice .card {
    box-shadow: 0.25em 0.75em 0 0 rgba(0, 0, 0, 0.3);
}

.event {
    position: absolute;
    width: 6em;
    margin: 0.5em;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
}
.event .player {
    line-height: 1.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
.event .reason {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
.event .type {
    height: 6em;
    padding: 0.25em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}
.event .type.draw {
    background-image: url("/imgs/draw.svg");
}
.event .type.choice {
    background-image: url("/imgs/choose.svg");
}
.event .type.target {
    background-image: url("/imgs/target.svg");
}


.no-transition {
    transition: none !important;
}